<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>List de Professores</title>
    </head>
    <body>
    <div align=center>
	<h1>Lista de Professores</h1>
                <table id="professor-table" border="1">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Matricula</th>
                                <th>Email</th>
                                <th>Senha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="professor : ${professores}">
                                <td><a th:text="${professor.nome}" th:href="@{'/prof/' + ${professor.professorId}}"></a></td>
                                <td th:text="${professor.matricula}"></td>
                                <td th:text="${professor.emailInstitucional}"></td>
                                <td th:text="${professor.senha}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </body>
</html>