<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Lista de Projetos</title>
    </head>
    <body>
    <div align=center>
	<h1>Lista de projetos</h1>
                <table id="projeto-table" border="1">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Descricao</th>
                                <th>Tecnologias</th>
                                <th>Fase</th>
                                <th>Status</th>
                                <th>Responsável CADI</th>
                                <th>Professor Responsavel</th>
                                <th>Empresario</th>
                                <th>Chave</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="projeto : ${projetos}">
                                <td><a th:text="${projeto.projeto.titulo}"></a></td>
                                <td><a th:text="${projeto.projeto.descricao_breve}"></a></td>
                                <td><a th:text="${projeto.projeto.descricao_tecnologias}"></a></td>
                                <td><a  th:text="${projeto.projeto.fase}"></td>
                                <td><a  th:text="${projeto.projeto.status.negado}"></td>
                                <td><a  th:text="${projeto.projeto.responsavel_cadi}"></td>
                                <td><a  th:text="${projeto.projeto.responsavel_professor}"></td>
                                <td><a  th:text="${projeto.projeto.responsavel_empresario}"></td>
                                <td> <a href="/gerarChave"> Gerar Chave </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </body>
</html>
